{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos_lista.css' %}" />
{% endblock %}
{% block content %}
<section class="categoria_list">
    <h2>Temas y enfoques</h2>
    <div class="grid_categorias">
        {% for cat in categorias %}
        <article class="card_categoria" style="border-top: 5px solid {{ cat.color }}">
            {% if cat.icono %}
            <img alt="{{ cat.nombre }}" src="{{cat.icono.url}}" class="icono_categoria">
            {% endif %}
            <h3><a href="{% url 'categoria' cat.id %}">{{ cat.nombre }}</a></h3>
            <p>{{ cat.descripción|truncatewords:18 }}</p>
        </article>
        {% endfor %}
    </div>
</section>
    {% endblock %}
