{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos_detalle.css' %}" />
<link rel="stylesheet" href="{% static 'css/estilos_grafica.css' %}" />
{% endblock %}
{% block content %}
<section class="medio_header">
    <div class="medio_info">
        {% if medio.logo %}
        <img alt="{{ medio.nombre }}" src="{{medio.logo.url}}" class="logo_medio_detalle">
        {% endif %}
        <div>
            <h1>{{ medio.nombre }}</h1>
            <p class="tipo_pais">{{ medio.get_tipo_display }} · {{ medio.pais }}</p>
            <p>{{ medio.descripcion }}</p>
            <a href="{{ medio.web }}" target="_blank" class="enlace_medio">Visitar sitio web</a>
        </div>
    </div>
    <section class="medio_graf">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <article class="graf_sesgo">
            <div>
                <canvas id="perfil_sesgos"></canvas>
            </div>
            <script>
            const data_sesgo = {{data_sesgo|safe}};
            const ctxRadar = document.getElementById('perfil_sesgos');
            new Chart(ctxRadar, {
                type: 'radar',
                data: {
                    labels: ['Ideología Polarizada', 'Subjetividad Emocional', 'Enfoque Dominante'],
                    datasets: [{
                        data: [data_sesgo.ideologia, data_sesgo.emocion, data_sesgo.enfoque ],
                        borderWidth: 2,
                        borderColor: 'rgba(255, 99, 132, 0.8)',
                        backgroundColor: 'rgba(255, 99, 132, 0.15)',
                        pointBackgroundColor: 'rgba(255, 99, 132, 1)',
                        pointRadius: 5,
                        pointHoverRadius: 8,
                        pointHoverBorderWidth: 3,
                        pointHitRadius: 20,
                        tension: 0.3
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,

                    scales: {
                        r: {
                            min: 0,
                            max: 5,
                            beginAtZero: true,

                            angleLines: {
                                color: 'rgba(0, 0, 0, 0.1)',
                                lineWidth: 1
                            },
                            grid: {
                                color: 'rgba(0, 0, 0, 0.1)'
                            },
                            pointLabels: {
                                font: {
                                    size: 14,
                                    family: 'Inter, sans-serif'
                                },
                                color: '#333'
                            },
                            ticks: {
                                backdropColor: 'transparent',
                                showLabelBackdrop: false,
                                stepSize: 1,
                                font: {
                                    size: 12
                                }
                            }
                        }
                    },

                    plugins: {
                        title: {
                            display: true,
                            text: 'PERFIL DEL MEDIO',
                            font: {
                                size: 18,
                                family: 'Inter, sans-serif'
                            },
                            padding: 15
                        },
                        legend: {
                            display: false
                        },
                        tooltip: {
                            backgroundColor: 'rgba(0, 0, 0, 0.75)',
                            padding: 10,
                            titleFont: {
                                size: 14
                            },
                            bodyFont: {
                                size: 13
                            },
                            callbacks: {
                                label: function (context) {
                                    return `${context.label}: ${context.raw}`;
                                }
                            }
                        }
                    },

                    animation: {
                        duration: 1200,
                        easing: 'easeOutQuart'
                    },

                    hover: {
                        mode: 'nearest',
                        intersect: true
                    }
                }
            });
            </script>
            <p class="explicacion_sesgo">Orientación ideológica: <strong>{{ label_ideologia }}</strong></p>
            <p class="explicacion_sesgo">Enfoque predominante: <strong>{{ label_enfoque }}</strong></p>
            <p class="explicacion_sesgo">Objetividad media: <strong>{{ obj_media }}/5</strong></p>
        </article>
        <article class="graf_categorias">
            <div>
                <canvas id="cubrir_categorias"></canvas>
            </div>
            <script>
                const label_categorias = {{ label_categorias| safe }};
                const data_categorias = {{ data_categorias| safe }};
                const color_categorias = {{ color_categorias| safe }};
                const ctxDonut = document.getElementById('cubrir_categorias');
                new Chart(ctxDonut, {
                    type: 'doughnut',
                    data: {
                        labels: label_categorias,
                        datasets: [{
                            data: data_categorias,
                            backgroundColor: color_categorias,
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,

                        cutout: '65%',        // tamaño del agujero central
                        radius: '90%',        // tamaño general del donut
                        rotation: -90,        // empieza arriba
                        circumference: 360,   // círculo completo

                        plugins: {
                            title: {
                                display: true,
                                text: 'PANORAMA DE CATEGORÍAS CUBIERTAS',
                                font: {
                                    size: 18,
                                    family: 'Inter, sans-serif'
                                },
                                padding: 15
                            },
                            legend: {
                                position: 'right',
                                labels: {
                                    usePointStyle: true,
                                    pointStyle: 'circle',
                                    padding: 20,
                                    font: {
                                        size: 14,
                                        family: 'Inter, sans-serif'
                                    }
                                }
                            },

                            tooltip: {
                                enabled: true,
                                backgroundColor: 'rgba(0,0,0,0.7)',
                                borderColor: 'rgba(255,255,255,0.2)',
                                borderWidth: 1,
                                padding: 10,
                                titleFont: {
                                    size: 14
                                },
                                bodyFont: {
                                    size: 13
                                },
                                callbacks: {
                                    label: (context) => {
                                        return `${context.label}: ${context.raw}`;
                                    }
                                }
                            },
                            datalabels: false
                        },

                        animation: {
                            animateRotate: true,
                            animateScale: true,
                            duration: 1200,
                            easing: 'easeOutQuart'
                        },

                        hover: {
                            mode: 'nearest',
                            intersect: true
                        }
                    }
                });
            </script>
            <p>Esta visualización representa la distribución temática del medio. 
            A través de ella se identifica qué categorías concentran su producción informativa 
            y cuáles ocupan un lugar marginal, revelando su especialización y prioridades editoriales.</p>
        </article>
    </section>
</section>
<section class="comparativa_medio">
    <h2>Comparativas en este Medio</h2>
    <div class="carrusel">
        {% for comp in comparativas_atravesadas %}
        <article class="card_horizontal">
            {% if comp.imagen %}
            <img alt="{{ comp.titulo }}" src="{{comp.imagen.url}}">
            {% endif %}
            <div>
                <h3><a href="{% url 'comparativa' comp.id %}">{{ comp.titulo }}</a></h3>
                <p class="meta">
                    <span>{{ comp.fecha }}</span> ·
                    <span>Objetividad: {{ comp.objetividad|floatformat:1 }}/5</span>
                </p>
                <p>Palabras clave:{{ comp.claves }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
<section class="noticia_list">
    <h2>Noticias de este médio</h2>
    <div class="grid_noticias">
        {% for not in noticias_relacionadas %}
        <article class="card_noticia">
            {% if not.imagen %}
            <img alt="{{ not.titulo }}" src="{{not.imagen.url}}">
            {% endif %}
            <div>
                <h3><a href="{% url 'noticia' not.id %}">{{ not.titulo }}</a></h3>
                <p>{{ not.resumen|truncatewords:15 }}</p>
            </div>
        </article>
        {% empty %}
        <p>No hay noticias publicadas.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}