{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos_detalle.css' %}" />
{% endblock %}
{% block content %}
<section class="noticia_detail">
    <h2>{{ noticia.titulo }}</h2>
    <p><strong>Medio: </strong><a href="{% url 'medio' noticia.medio.id %}" class="medio_url">{{ noticia.medio }}</a></p>
    <p><strong>Fecha de publicación:</strong> {{ noticia.fecha }}</p>
    <div>
        {{ noticia.resumen|linebreaks }}
    </div>
    <p><a href="{{ noticia.enlace }}" target="_blank" rel="noopener noreferrer" class="noticia_url"> Fuente original </a></p>
</section>
{% endblock %}

